html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,option,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,section, article, aside, header, footer, nav, dialog, figure,menu,hgroup{ margin:0; padding:0; border:0; -webkit-font-smoothing:antialiased;  }
html{ -webkit-text-size-adjust:none;}
body{font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Microsoft Yahei", "Wenquanyi Micro Hei", sans-serif; font-size:13px;background:#fff; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased;  font-smoothing: antialiased;  color:#333; }
input,textarea{ resize:none; font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Microsoft Yahei", "Wenquanyi Micro Hei", sans-serif; border:0;}
img{ border:none; vertical-align:middle; max-width: 100%;}
ul,li{ list-style:none;}
a{ text-decoration:none; outline:none; color:#333;}
 a,input,textarea{text-decoration:none;outline:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}
a:hover{ }
input:focus,textarea:focus{ outline:none;}
button{outline: none;}
input{
	outline:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	vertical-align: baseline;
	 -webkit-appearance: none;
    border-radius: 0;
}
.or{ overflow:hidden;}
.fl{ float:left;}
.fr{ float:right;}  
h1,h2,h3,h4{ font-weight:normal;}
i,em{ font-style:normal;}
.clear{clear: both;}
/*@font-face {
 font-family: 'nicedesign';
 src: url('../font/nicedesign.otf');
 src: url('../font/nicedesign.eot') format('embedded-opentype'),
 url('../font/nicedesign') format('woff'),
 url('../font/nicedesign.woff') format('truetype'),
 url('../font/nicedesign') format('svg');
 font-weight: normal;
 font-style: normal;
}
*/